.a
{
	height: 70px;
	width: 98%;
	background-color: blue;
	margin: 10px;
	text-align: center;
}

.b{
	height: 70px;
	width: 563px;
	background-color: blue;
	margin: 10px;
}

.c{
	height: 70px;
	width: 368px;
	background-color: blue;
	margin: 10px;
}

.d{
	height: 70px;
	width: 270px;
	background-color: blue;
	margin: 10px;
}