.joe{
			background-color: blue;
			height: 100px;
			width: 520px;
			margin: 10px;
		}

.n{         background-color: blue;
			height: 100px;
			width: 330px;
			margin: 10px;
		}

.y{
           background-color: blue;
			height: 100px;
			width: 245px;
			margin: 10px;
}

.a{       background-color: blue;
			height: 100px;
			width: 330px;
			margin: 10px;

}